<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>

	<div class="content">
		<div th:each="content : ${contents}">
			<a ht:text="${content.id}"></a>
			<a th:text="${content.content}"></a>
			<form th:action="@{/addComment/{report_id}(report_id=${content.id})}" method="post" th:object="${formModel}">
					<input type="text" name="comment" size="20" maxlength="200" />
					<input type="submit" value="返信">
			</form>
			<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
				<input type="submit" value="削除">
			</form>
			<a th:href="@{/edit/{id}(id=${content.id})}">
				<input type="submit" value="編集">
			</a>

			<div class ="comment">
			<div th:each="comment : ${comments}">
				<a th:if="${content.id} == ${comment.report_id}"></a>
				<a th:text="${comment.id}"></a>
				<a th:text="${comment.comments}"></a>
			</div>
		</div>

		</div>

	</div>
</body>
</html>